

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
		background-image:url(../img/jumbotron1-lft.jpg);
		/*background-repeat: no-repeat;
		background-position-x: center;
		background-position-y: center;
		background-size: cover;
		background-position: left bottom 78%;*/
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		
		width: 100%;
}

.jumbotron-content-wrapper {
		padding: 16px;
    /*background-color: #fff;*/
}


.jumbotron-content-wrapper . btn-primary {
	
}

.btn-primary {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	min-width: 80px;
	font-weight: 500;
	text-transform: uppercase;
	background-image: none;
}

.btn-lg {
	padding: 9px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 2px;
}

.btn-primary.btn-lg, .btn-group-lg>.btn-primary.btn, .btn-group-lg>.btn.btn-cta-blue, .btn-lg.btn-cta-blue {
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #fff;
}

.btn-primary, .btn-cta-blue {
    color: #fff;
    background-color: #3b7;
    border-color: #2ea76a;
}

.btn-primary:active, .btn-primary:hover, .btn-cta-blue:active, .btn-primary.active, .active.btn-cta-blue, .btn-primary:active:hover, .btn-cta-blue:active:hover, .btn-primary.active:hover, .active.btn-cta-blue:hover {
    background-color: #093;
		background-image: none;
}

.btn-primary:active:hover, .btn-cta-blue:active:hover, .btn-primary:active:focus, .btn-cta-blue:active:focus, .btn-primary:active.focus, .btn-cta-blue:active.focus, .btn-primary.active:hover, .active.btn-cta-blue:hover, .btn-primary.active:focus, .active.btn-cta-blue:focus, .btn-primary.active.focus, .active.focus.btn-cta-blue, .open>.btn-primary.dropdown-toggle:hover, .open>.dropdown-toggle.btn-cta-blue:hover, .open>.btn-primary.dropdown-toggle:focus, .open>.dropdown-toggle.btn-cta-blue:focus, .open>.btn-primary.dropdown-toggle.focus, .open>.dropdown-toggle.focus.btn-cta-blue {
    color: #fff;
    background-color: #20774c;
    border-color: #12432b;
		background-image: none;
}

.how-it-works .content {
    padding: 10px 15px;
    text-align: center;
}

.how-it-works .title {
    color: #e7a662;
    font-family: brandon-grotesque,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    text-transform: uppercase;
    padding: 0;
    margin: 30px 0;
}

.how-it-works .list li, .what-you-get .list li {
    position: relative;
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
}

.how-it-works .list .icon, .what-you-get .list .icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.how-it-works .list .icon {
	  width: 76px;
    height: 46px;
    margin: 0 25px;
}

.what-you-get .list .icon {
    width: 76px;
    height: 76px;
		margin: 0 10px 0px;
	}

.what-you-get {
		background-image: url(../img/ingedients-drk.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    max-height: 740px;
    color: #fff;
    text-align: center;
}

.what-you-get .btn-primary {
		min-width: 240px;
		max-height: 44px;
   	margin: 0 auto;
}


@media only screen and (min-width: 992px) {
	.how-it-works .content, .what-you-get .content {
			padding: 40px 0 20px;
	}
	
	.how-it-works .list li, .what-you-get .list li {
    display: inline-block;
    width: 180px;
    text-align: center;
    padding: 0;
    margin: 0 50px;
		vertical-align: text-top;
	}
	
	.what-you-get .list .icon {
    /*width: 76px;
    height: 76px;*/
		
	}
}

@media screen and (min-width: 768px) {
	.jumbotron {
		height: 700px;
		top: 60px;
	}
	
	.jumbotron-content-wrapper {
		float: right;
		width: 520px;
		margin-top: 80px;
		margin-right: 140px;
	}

	.jumbotron-content-wrapper .intro-title {
		font-family: sofia-pro,Arial,sans-serif;
		font-weight: 300;
		font-size: 40px;
		color: #000;
		letter-spacing: 8px;
		margin-top: 35px;
		margin-bottom: 0;
	}

	.jumbotron-content-wrapper .intro-subtitle {
		font-family: sofia-pro,Arial,sans-serif;
		font-weight: 900;
		font-size: 55px;
		color: #000;
		letter-spacing: 6px;
		margin-top: 0;
		margin-bottom: 26px;
	}
	
	.form-inline .form-group {
    display: inline-block;
    margin-bottom: 15px;
    vertical-align: middle;
	}
}

@media screen and (max-width: 767px) {
	.jumbotron {
		height: 450px;
		top: 62px;
	}
	.jumbotron-content-wrapper .intro-title {
    font-family: sofia-pro,Arial,sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #000;
    letter-spacing: 4px;
	}
	
	.jumbotron-content-wrapper .intro-subtitle {
		font-family: sofia-pro,Arial,sans-serif;
    font-weight: 900;
    font-size: 27px;
    color: #000;
    letter-spacing: 3px;
    margin-top: 0;
    margin-bottom: 18px;
	}
}








